$primary-color: #454545;
$primary-color-dark: #191919;
$primary-color-light: #fff;

$primary-bg-dark: #191919;
$primary-bg-dark-color: #efefef;

$primary-bg-light: #efefef;
$primary-bg-light-color: #191919;

$font-size: 12px;
$base-gap: 4px;
$line-height: 1.5;


