$primary-color: #696969;
$primary-color-dark: #191919;
$primary-color-light: #fff;

$grey-1: #191919;
$grey-2: #363636;
$grey-3: #565656;
$grey-4: #787878;
$grey-5: #969696;
$grey-6: #aaaaaa;
$grey-7: #cdcdcd;
$grey-8: #efefef;

$primary-bg-dark: #191919;
$primary-bg-dark-color: #efefef;

$primary-bg-light: #efefef;
$primary-bg-light-color: #191919;

$font-size: 12px;
$base-gap: 5px;
$line-height: 1.5;


